
# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

/fabric-de-worshop/*